body {
    background: #f7f7f7;
    font-family: verdana;
}
#title {
    font-size: 40px;
    font-family: verdana;
    padding: 5px 0 0;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: overline;
}
.post-title {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin:2px 5px;
    text-decoration: underline;
}
.subtitle {
    margin: 0 0 8px;
    color: #505050;
}
.post-content {
    margin: 0px 5px 20px;
    text-transform: lowercase;
}
.baseboard {
    border-radius: 5px;
}
.base-content {
    margin: 5px 0 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}
.img001 {
    border-radius: 8px;
    margin: 10px 50px 0px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}
.desc-img {
    padding: 7px 50px 35px;
    font-style: italic;
}
.post {
    border: 3px solid black;
    border-radius: 5px;
    background-color: aliceblue;
}
a {
    text-decoration: underline;
    color: cornflowerblue;
}
.contacts-list {
    list-style-type: none;
    padding: 5px;
}
ul {
    margin: 0;
}
.logo {
    border-radius: 200px;
    border: 2px solid cornflowerblue
}