<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDLGVl2FArnrtfhtWTomWS_DFPOOG91lPQMsyY4Av4wA&s"
    alt="big-card__photo"
    height="250px"
    width="396px"
    >
  </div>
  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>
  <div class="big-card__description">
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam vel in totam tempora sequi blanditiis, explicabo porro et maiores ex ut ipsum quidem soluta dolor facilis, sapiente nemo consectetur! Sunt!</p>
  </div>
</div>
